<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="width: 100%;height: 100px; display: block; text-align: center">
    <ion-img [width]="220" [height]="91" src="assets/img/parkly.png"></ion-img>
  </div>
    <ion-list>
        
          <ion-item>
            <ion-label fixed>Username</ion-label>
            <ion-input type="text" value="" [(ngModel)]="username"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label fixed>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        
        </ion-list>
        <button ion-button (click)="login(username,password)">Login</button>

</ion-content>
