<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-5 offset-3 align-self-center>
          <ion-img  [width]="130" [height]="48" src="assets/img/logo-small.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 align-self-center>

        <h2 text-center>Hi <b>B85HDR</b>!</h2>
      </ion-col>
      <ion-col col-12 align-self-center>
        <h4 text-center>Let's find you a parking spot</h4>
      </ion-col>
      <ion-col col-12 align-self-center>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="searchString" type="text" style="border:solid,1px,#999;"></ion-input>

          </ion-item>
          <!-- <ion-item>
              <button ion-button (click)="processParkingNotification1(60)">Login</button>
          </ion-item> -->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
