<!--
  Generated template for the PaymentHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>PaymentHistory</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
