<!--
  Generated template for the ParkingDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>ParkingDetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12 align-self-center>
        <ion-img [width]="441" [height]="183" src="assets/img/logo-public.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 align-self-center>
        <h2 text-center>You have parked on a {{notifData.eventType}} spot</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 align-self-center>
        <p>Monday to Sunday</p>
      </ion-col>
      <ion-col col-6 align-self-center>
        <p>First <b>2 hours</b></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 align-self-center>
        <p>{{notifData.openFrom}} - {{notifData.openTo}}</p>
      </ion-col>
      <ion-col col-6 align-self-center>
        <p>are free!</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
