<!--
  Generated template for thesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
        <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>parking details</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding>
      
      <div style="width: 100%;height: 100px; display: block; text-align: center">
        <ion-img [width]="220" [height]="91" src="assets/img/logo-{{notifData.eventType | lowercase}}.png"></ion-img>
      </div>

      <ion-grid>        
        <ion-row>
          <ion-col col-12 align-self-center>
            <h2 text-center>You have parked on a {{notifData.eventType | lowercase}} spot</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 align-self-center>
            <p text-center>              
              Monday to Sunday<br/>
              <b>{{notifData.openFrom}} - {{notifData.openTo}}</b>
            </p>
          </ion-col>
          <ion-col col-6 align-self-center>
            <p text-center>            
              First <b>2 hours</b>
              <br/>
              are free!            
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 align-self-center>
              <p text-center>You will be charged with <b>{{notifData.hourlyFee}} {{notifData.currency}}/hour</b></p>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 align-self-center>
                <h3 text-center>Enjoy your stay!</h3>
            </ion-col>
          </ion-row>
      </ion-grid>
    
    </ion-content>
    